{% extends "cricket_center_base.html" %}
{% load replace_with %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_agents %}
{% block title %}Cricket Center | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% block other_page_content %}

	<div class="MainBackground">
	  <div class="color-overlay"></div>
	</div>  
	<div class="MatchArea">
		<div class="TeamPreviewContainer">	
			<center>
				<i class="fa fa-chevron-circle-down CloseTeamPreviewContainer" style="position:relatice;top:10px;font-size:20px;color:white;"></i>
				<hr style="border-color:white;width:80%;">
			</center>	
			<div class="AllPlayers">
				<div class="KeepersPreview">
				</div>
				<div class="BatsmenPreview">
				</div>
				<div class="AllrounderPreview">
				</div>
				<div class="BowlerPreview">
				</div>
				<div class="CaptainVicePrivew">
					<div class="PlayerView" style="width: 25%;">
						<span class="PlayerNameView">Captain</span>
						<center><img class="player_image" src="{% static "images/question.png" %}"></center>
						<span class="PlayerNameView">Select</span>
					</div>
					<div class="PlayerView" style="width: 25%;">
						<span class="PlayerNameView">Vice Captain</span>
						<center><img class="player_image" src="{% static "images/question.png" %}"></center>
						<span class="PlayerNameView">Select</span>
					</div>
				</div>
			</div>
		</div>
		{% if team%}
            <h1>Team created</h1>
        {% else %}
			<div class="tab">
			  <button class="tablinks active" onclick="openCity(event, 'Keepers')">Keepers</button>
			  <button class="tablinks" onclick="openCity(event, 'Batsmen')">Batsmen</button>
			  <button class="tablinks" onclick="openCity(event, 'Allrounders')">Allrounders</button>
			  <button class="tablinks" onclick="openCity(event, 'Bowlers')">Bowlers</button>
			</div>
			<div class="alert alert-danger error" id="sub_max">
    			
  			</div>
  			<div class="alert alert-danger error" id="max">
    			
  			</div>
			<form method="POST">
				<div id="Keepers" class="main_upper tabcontent">
					{% csrf_token %}
					{{ keeper_form.non_field_errors }}
		            {{ keeper_form.source.errors }}
		            {{ keeper_form.source }}
		            {% for field in keeper_form.visible_fields %}
            			{% render_field field|add_class:'CustomInput keeper' %}	
            			<label for="{{ field.id_for_label }}" class="CustomLabel">&nbsp;&nbsp;
            				{% for player in players_obj %}
	            				{% if field.label|convert_to_underscore == player.player_name %}
	            					<span class="CustomField">
										{{player.player_current_team}} | {{field.label|title}}<br>
		            					<small class="PlayerSubInfo">
	            							Points : {{player.total_points}} | Bit Credit : {{player.player_credit_points}}
	            						</small>
	            					</span>
	                            	<input type="checkbox"  name="captain" value="{{ player }}" id="{{ player|get_id_one }}" class="captain_class"/>
								    <label for="{{ player|get_id_one }}" class="custom_cap"><span class="custom_text">C</span></label>
								    <input type="checkbox" name="vice" value="{{ player }}" id="{{ player|get_id_two }}" class="vice_class"/>
								    <label for="{{ player|get_id_two }}" class="custom_vice"><span class="custom_text">VC</span></label>
	                            {% endif %}
                            {% endfor %}
            			</label>
	            		{{ field.errors }}
				    {% endfor %}
				</div>

				<div id="Batsmen" class="tabcontent">
					{% csrf_token %}
					{{ batsmen_form.non_field_errors }}
		            {{ batsmen_form.source.errors }}
		            {{ batsmen_form.source }}
					{% for field in batsmen_form.visible_fields %}
            			{% render_field field|add_class:'CustomInput batsmen' %}	
            			<label for="{{ field.id_for_label }}" class="CustomLabel">&nbsp;&nbsp;
            				{% for player in players_obj %}
	            				{% if field.label|convert_to_underscore == player.player_name %}
	            					<span class="CustomField">
										{{player.player_current_team}} | {{field.label|title}}<br>
		            					<small class="PlayerSubInfo">
	            							Points : {{player.total_points}} | Bit Credit : {{player.player_credit_points}}
	            						</small>
	            					</span>
	            					<input type="checkbox"  name="captain" value="{{ player }}" id="{{ player|get_id_one }}" class="captain_class"/>
								    <label for="{{ player|get_id_one }}" class="custom_cap"><span class="custom_text">C</span></label>
								    <input type="checkbox" name="vice" value="{{ player }}" id="{{ player|get_id_two }}" class="vice_class"/>
								    <label for="{{ player|get_id_two }}" class="custom_vice"><span class="custom_text">VC</span></label>
	                            {% endif %}
                            {% endfor %}
            			</label>
	            		{{ field.errors }}
				    {% endfor %}
				</div>

				<div id="Allrounders" class="tabcontent">
			  		{% csrf_token %}
			  		{{ allrounders_form.non_field_errors }}
		            {{ allrounders_form.source.errors }}
		            {{ allrounders_form.source }}
					{% for field in allrounders_form.visible_fields %}
            			{% render_field field|add_class:'CustomInput allrounders' %}	
            			<label for="{{ field.id_for_label }}" class="CustomLabel">&nbsp;&nbsp;
            				{% for player in players_obj %}
	            				{% if field.label|convert_to_underscore == player.player_name %}
	            					<span class="CustomField">
										{{player.player_current_team}} | {{field.label|title}}<br>
		            					<small class="PlayerSubInfo">
	            							Points : {{player.total_points}} | Bit Credit : {{player.player_credit_points}}
	            						</small>
	            					</span>
	                            	<input type="checkbox"  name="captain" value="{{ player }}" id="{{ player|get_id_one }}" class="captain_class"/>
								    <label for="{{ player|get_id_one }}" class="custom_cap"><span class="custom_text">C</span></label>
								    <input type="checkbox" name="vice" value="{{ player }}" id="{{ player|get_id_two }}" class="vice_class"/>
								    <label for="{{ player|get_id_two }}" class="custom_vice"><span class="custom_text">VC</span></label>
	                            {% endif %}
                            {% endfor %}
            			</label>
	            		{{ field.errors }}
				    {% endfor %}
				</div>
    
    			<div id="Bowlers" class="tabcontent">
			  		{% csrf_token %}
			  		{{ bowlers_form.non_field_errors }}
		            {{ bowlers_form.source.errors }}
		            {{ bowlers_form.source }}
					{% for field in bowlers_form.visible_fields %}
            			{% render_field field|add_class:'CustomInput bowlers' %}	
            			<label for="{{ field.id_for_label }}" class="CustomLabel">&nbsp;&nbsp;
            				{% for player in players_obj %}
	            				{% if field.label|convert_to_underscore == player.player_name %}
	            					<span class="CustomField">
										{{player.player_current_team}} | {{field.label|title}}<br>
		            					<small class="PlayerSubInfo">
	            							Points : {{player.total_points}} | Bit Credit : {{player.player_credit_points}}
	            						</small>
	            					</span>
	                            	<input type="checkbox"  name="captain" value="{{ player }}" id="{{ player|get_id_one }}" class="captain_class"/>
								    <label for="{{ player|get_id_one }}" class="custom_cap"><span class="custom_text">C</span></label>
								    <input type="checkbox" name="vice" value="{{ player }}" id="{{ player|get_id_two }}" class="vice_class"/>
								    <label for="{{ player|get_id_two }}" class="custom_vice"><span class="custom_text">VC</span></label>
	                            {% endif %}
                            {% endfor %}
            			</label>
	            		{{ field.errors }}
				    {% endfor %}
				</div>
				<br><div style="position:relative; width:100%; height:10px;"></div>
				<div class="ButtonContainer">
				  <div class="btn btn-success TeamPreviewClass">Team Preview</div>
				  <input class="btn btn-success btn-sm CreateTeam" type="submit" name="submit" id="signup" value="Create Team" style="float:right; right:20px;">
	            </div>
			</form>
        {% endif %}        	
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	$(".CloseTeamPreviewContainer").click(function () {
	    var div = $(".TeamPreviewContainer");
	    
	    var height = div.height();
	    
	    div.css({
	        overflow: "hidden",
	        marginTop: 0,
	        height: height
	    }).animate({
	        marginTop: height,
	        height: 0
	    }, 500, function () {
	        $(this).css({
	            display: "none",
	            overflow: "",
	            height: "",
	            marginTop: ""
	        });
	    });
	});

	$('.TeamPreviewClass').click(function () {
		selected_keepers = $('.keeper:checkbox:checked')
		selected_batsmen = $('.batsmen:checkbox:checked')
		selected_allrounders = $('.allrounders:checkbox:checked')
		selected_bowlers = $('.bowlers:checkbox:checked')
		selected_captain = $('.captain_class:checkbox:checked')
		selected_vicecaptain = $('.vice_class:checkbox:checked')
		// if(selected_captain.length == 1){
		// 	$(".CaptainVicePrivew").html("")
		// 	var name_array = selected_captain[0].name.split('_')
		// 	$(".CaptainVicePrivew").append("<div class=\"PlayerView\" style=\"position:relative; margin-top:0px; width: 100%\">Captain :" + name_array[0] + " " + name_array[1] + " </div><br>")
		// }
		// else{
		// 	$(".CaptainVicePrivew").html("")
		// 	$(".CaptainVicePrivew").append("<div class=\"PlayerView\" style=\"position:relative; margin-top:0px; width: 100%\">No Captain Selected</div><br>")
		// }

		if (selected_keepers.length == 1){
			var name_array = selected_keepers[0].name.split('_')
			KeepersDivWidth = 100/selected_keepers.length+"%"
			$(".KeepersPreview").html("<div class=\"PlayerView\" style=\"position:relative; margin-top:0px; width: " + KeepersDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/keeper.png" %}\"></center>" + name_array[0] + " " + name_array[1] + "</div>")
		}
		else{
			$(".KeepersPreview").html("")
			$(".KeepersPreview").append("<div class=\"PlayerView\" style=\"width: 25%\"><center><img class=\"player_image\" src=\"{% static "images/question.png" %}\"></center><span class=\"PlayerNameView\">Keeper</span></div>")	
			
		}
		if (selected_batsmen.length == 1){
			var name_array = selected_batsmen[0].name.split('_')
			BatsmenDivWidth = 100/selected_batsmen.length+"%"
			$(".BatsmenPreview").html("<div class=\"PlayerView\" style=\"width: " + BatsmenDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/batsman.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
		}
		else{
			$(".BatsmenPreview").html("")
			for(var i=0;i<4;i++){
				$(".BatsmenPreview").append("<div class=\"PlayerView\" style=\"width: 25%\"><center><img class=\"player_image\" src=\"{% static "images/question.png" %}\"></center><span class=\"PlayerNameView\">Batsmen</span></div>")	
			}
		}
		if (selected_batsmen.length === 2){
			BatsmenDivWidth = 100/selected_batsmen.length+"%"
			$(".BatsmenPreview").html("")
			for(var i=0; i<2; i++){
				var name_array = selected_batsmen[i].name.split('_')
				// var name = name_array[0] + ' ' + name_array[1]
				$(".BatsmenPreview").append("<div class=\"PlayerView\" style=\"width: " + BatsmenDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/batsman.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
			}
		}
		if (selected_batsmen.length === 3){
			BatsmenDivWidth = 100/selected_batsmen.length+"%"
			$(".BatsmenPreview").html("")
			for(var i=0; i<3; i++){
				var name_array = selected_batsmen[i].name.split('_')
				$(".BatsmenPreview").append("<div class=\"PlayerView\" style=\"width: " + BatsmenDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/batsman.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
			}
		}
		if (selected_batsmen.length === 4){
			BatsmenDivWidth = 100/selected_batsmen.length+"%"
			$(".BatsmenPreview").html("")
			for(var i=0; i<4; i++){
				var name_array = selected_batsmen[i].name.split('_')
				$(".BatsmenPreview").append("<div class=\"PlayerView\" style=\"width: " + BatsmenDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/batsman.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
			}
		}
		if (selected_batsmen.length === 5){
			BatsmenDivWidth = 100/selected_batsmen.length+"%"
			$(".BatsmenPreview").html("")
			for(var i=0; i<5; i++){
				var name_array = selected_batsmen[i].name.split('_')
				$(".BatsmenPreview").append("<div class=\"PlayerView\" style=\"width: " + BatsmenDivWidth + ";\"><center><img class=\"player_image\" src=\"{% static "images/batsman.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
			}
		}

		if (selected_allrounders.length == 1){
			var name_array = selected_allrounders[0].name.split('_')
			AllrounderDivWidth = 100/selected_allrounders.length+"%"
			$(".AllrounderPreview").html("<div class=\"PlayerView\" style=\"width: " + AllrounderDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/allrounder.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
		}
		else{
			$(".AllrounderPreview").html("")
			for(var i=0;i<2;i++){
				$(".AllrounderPreview").append("<div class=\"PlayerView\" style=\"width: 50%\"><center><img class=\"player_image\" src=\"{% static "images/question.png" %}\"></center><span class=\"PlayerNameView\">Allrounder</span></div>")	
			}
		}
		if (selected_allrounders.length === 2){
			AllrounderDivWidth = 100/selected_allrounders.length+"%"
			$(".AllrounderPreview").html("")
			for(var i=0; i<2; i++){
				var name_array = selected_allrounders[i].name.split('_')
				$(".AllrounderPreview").append("<div class=\"PlayerView\" style=\"width: " + AllrounderDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/allrounder.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
			}
		}
		if (selected_allrounders.length === 3){
			AllrounderDivWidth = 100/selected_allrounders.length+"%"
			$(".AllrounderPreview").html("")
			for(var i=0; i<3; i++){
				var name_array = selected_allrounders[i].name.split('_')
				$(".AllrounderPreview").append("<div class=\"PlayerView\" style=\"width: " + AllrounderDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/allrounder.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
			}
		}

		if (selected_bowlers.length == 1){
			var name_array = selected_bowlers[0].name.split('_')
			BolwersDivWidth = 100/selected_bowlers.length+"%"
			$(".BowlerPreview").html("<div class=\"PlayerView\" style=\"width: " + BolwersDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/bowlers.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
		}
		else{
			$(".BowlerPreview").html("")
			for(var i=0;i<4;i++){
				$(".BowlerPreview").append("<div class=\"PlayerView\" style=\"width: 25%\"><center><img class=\"player_image\" src=\"{% static "images/question.png" %}\"></center><span class=\"PlayerNameView\">Bowler</span></div>")	
			}

		}
		if (selected_bowlers.length === 2){
			BolwersDivWidth = 100/selected_bowlers.length+"%"
			$(".BowlerPreview").html("")
			for(var i=0; i<2; i++){
				var name_array = selected_bowlers[i].name.split('_')
				$(".BowlerPreview").append("<div class=\"PlayerView\" style=\"width: " + BolwersDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/bowlers.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
			}
		}
		if (selected_bowlers.length === 3){
			BolwersDivWidth = 100/selected_bowlers.length+"%"
			$(".BowlerPreview").html("")
			for(var i=0; i<3; i++){
				var name_array = selected_bowlers[i].name.split('_')
				$(".BowlerPreview").append("<div class=\"PlayerView\" style=\"width: " + BolwersDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/bowlers.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
			}
		}
		if (selected_bowlers.length === 4){
			BolwersDivWidth = 100/selected_bowlers.length+"%"
			$(".BowlerPreview").html("")
			for(var i=0; i<4; i++){
				var name_array = selected_bowlers[i].name.split('_')
				$(".BowlerPreview").append("<div class=\"PlayerView\" style=\"width: " + BolwersDivWidth + "\"><center><img class=\"player_image\" src=\"{% static "images/bowlers.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
			}
		}
		if (selected_bowlers.length === 5){
			BolwersDivWidth = 100/selected_bowlers.length+"%"
			$(".BowlerPreview").html("")
			for(var i=0; i<5; i++){
				var name_array = selected_bowlers[i].name.split('_')
				$(".BowlerPreview").append("<div class=\"PlayerView\" style=\"width: " + BolwersDivWidth + ";\"><center><img class=\"player_image\" src=\"{% static "images/bowlers.png" %}\"></center><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></div>")
			}
		}
		if(selected_captain.length == 1){
			$('.CaptainVicePrivew').html("")
			var name_array = selected_captain[0].value.split('_')	
			$('.CaptainVicePrivew').append("<div class=\"PlayerView\" style=\"width: 50%;\"><center><span class=\"PlayerNameView\">Captain</span><img class=\"player_image\" src=\"{% static "images/2x.png" %}\"><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></center></div>")
		}
		else if(selected_captain.length == 0){
			$('.CaptainVicePrivew').html("")
			$('.CaptainVicePrivew').append("<div class=\"PlayerView\" style=\"width: 50%;\"><center><span class=\"PlayerNameView\">Captain</span><img class=\"player_image\" src=\"{% static "images/2x.png" %}\"><span class=\"PlayerNameView\">Select</span></center></div>")
		}	
		else{
			$('.CaptainVicePrivew').html("")
			$('.CaptainVicePrivew').append("<div class=\"CaptainClass\"><center>Something Went Wrong...</center></div>")
		}

		if(selected_vicecaptain.length == 1){
			var name_array = selected_vicecaptain[0].value.split('_')
			$('.CaptainVicePrivew').append("<div class=\"PlayerView\" style=\"width: 50%;\"><center><span class=\"PlayerNameView\">Vice Captain</span><img class=\"player_image\" src=\"{% static "images/15x.png" %}\"><span class=\"PlayerNameView\">" + name_array[0] + " " + name_array[1] + "</span></center></div>")
		}
		else if(selected_vicecaptain.length == 0){
			$('.CaptainVicePrivew').append("<div class=\"PlayerView\" style=\"width: 50%;\"><center><span class=\"PlayerNameView\">Vice Captain</span><img class=\"player_image\" src=\"{% static "images/15x.png" %}\"><span class=\"PlayerNameView\">Select</span></center></div>")
		}	
		else{
			$('.CaptainVicePrivew').append("<div class=\"ViceClass\"><center>Something Went Wrong...</center></div>")
		}


		var div = $(".TeamPreviewContainer");
	    var height = div.css({
	        display: "inline"
	    }).height();
	    
	    div.css({
	        overflow: "hidden",
	        marginTop: height,
	        height: 0
	    }).animate({
	        marginTop: 0,
	        height: height
	    }, 500, function () {
	        $(this).css({
	            display: "inline-block",
	            overflow: "",
	            height: "",
	            marginTop: ""
	        });
	    });

	});

	$(".captain_class").change(function() {
	    var checked = $(this).is(':checked');
	    var sibchecked = $(this).next().next().is(':checked');
	    $(".captain_class").prop('checked',false);
	    if(checked) {
	    	$(this).prop('checked',true);
	    	if(sibchecked){	    		
	    		$(this).next().next().prop('checked',false);
	    	}   
	    }
	});

	$(".vice_class").change(function() {
	    var checked = $(this).is(':checked');
	    $(".vice_class").prop('checked',false);
	    var sibchecked = $(this).prev().prev().is(':checked'); 
	    if(checked) {
	    	$(this).prop('checked',true);
	    	if(sibchecked){	    		
	    		$(this).prev().prev().prop('checked',false);
	    	}   
	    }
	});

	function openCity(evt, cityName) {
	    var i, tabcontent, tablinks;
	    tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    tablinks = document.getElementsByClassName("tablinks");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].className = tablinks[i].className.replace(" active", "");
	    }
	    document.getElementById(cityName).style.display = "block";
	    evt.currentTarget.className += " active";
	}
	
	$(document).ready(function () {
	    resetForms();
	});

	function resetForms() {
		// console.log("I have been Called.")
	    for (i = 0; i < document.forms.length; i++) {
	        document.forms[i].reset();
	    }
	}

	global_keeper_count = 0;
	global_batsmen_count = 0;
	global_bowler_count = 0;
	global_allrounder_count = 0;
	$('.btn-sm').click(function(event){
		players_input = $('.CustomInput');
		var players_count = 0;
		for(var i = 0; i < players_input.length; i++){
			if($(players_input[i]).is(':checked')){
 		   	  players_count = players_count+1;
 		   	  console.log("Something")
 		    }
		}
		if(players_count<11){
			event.preventDefault();	
			$(this).prop( "checked", false );
			$('#sub_max').css('display','block');
			$('#sub_max').html("Please Select At Least <strong>11 Players</strong>");
			$('#sub_max').delay(3000).fadeOut(1000);
		}
		else if(global_keeper_count<1){
			event.preventDefault();	
			$(this).prop( "checked", false );
			$('#sub_max').css('display','block');
			$('#sub_max').html("Please Select At Least <strong>1 Keeeper</strong>");
			$('#sub_max').delay(3000).fadeOut(1000);
		}
		else if(global_batsmen_count<3){
			event.preventDefault();	
			$(this).prop( "checked", false );
			$('#sub_max').css('display','block');
			$('#sub_max').html("Please Select At Least <strong>3 Batsmen</strong>");
			$('#sub_max').delay(3000).fadeOut(1000);
		}
		else if(global_allrounder_count<1){
			event.preventDefault();	
			$(this).prop( "checked", false );
			$('#sub_max').css('display','block');
			$('#sub_max').html("Please Select At Least <strong>1 Allrounder</strong>");
			$('#sub_max').delay(3000).fadeOut(1000);
		}
		else if(global_bowler_count<3){
			event.preventDefault();	
			$(this).prop( "checked", false );
			$('#sub_max').css('display','block');
			$('#sub_max').html("Please Select At Least <strong>3 Bowlers</strong>");
			$('#sub_max').delay(3000).fadeOut(1000);
		}
		else if(!$('.captain_class').is(':checked')){
			event.preventDefault();
			if(!$('.vice_class').is(':checked')){
				$(this).prop( "checked", false );
				$('#sub_max').css('display','block');
				$('#sub_max').html("Please Select Your <strong>Captain and Vice Captain</strong>");
				$('#sub_max').delay(3000).fadeOut(1000);	
			}
			else{
				$(this).prop( "checked", false );
				$('#sub_max').css('display','block');
				$('#sub_max').html("Please Select Your <strong>Captain</strong>");
				$('#sub_max').delay(3000).fadeOut(1000);	
			}
		}
		else if(!$('.captain_class').is(':checked')){
			event.preventDefault();	
			$(this).prop( "checked", false );
			$('#sub_max').css('display','block');
			$('#sub_max').html("Please Select Your <strong>Captain</strong>");
			$('#sub_max').delay(3000).fadeOut(1000);	
		}

		else if(!$('.vice_class').is(':checked')){
			event.preventDefault();	
			$(this).prop( "checked", false );
			$('#sub_max').css('display','block');
			$('#sub_max').html("Please Select Your <strong>Vice Captain</strong>");
			$('#sub_max').delay(3000).fadeOut(1000);	
		}
		
		console.log("Global Keeeper Count : "+global_keeper_count)
		console.log("Global Batsmen Count : "+global_batsmen_count)
	})

	/*For Checkong Purpose*/
	temp_global = 0
	$('.keeper').click(function(){
		var keeper_inputs = $('.keeper');
		players_input = $('.CustomInput')
		global_keeper_count = 0;
		var players_count = 0;
		for(var i = 0; i < keeper_inputs.length; i++){
			if($(keeper_inputs[i]).is(':checked')){
 		   	  	global_keeper_count = global_keeper_count+1;
 		    }
		}
		for(var i = 0; i < players_input.length; i++){
			if($(players_input[i]).is(':checked')){
 		   	  players_count = players_count+1;
 		    }
		}
		if(global_keeper_count>1){
			$(this).prop( "checked", false );
			$('#sub_max').css('display','block');
			$('#sub_max').html("Please Select Only <strong>One Keeeper</strong>");
			$('#sub_max').delay(3000).fadeOut(1000);
		}

		if (players_count>11){
			$(this).prop( "checked", false );
			$('#max').css('display','block');
			$('#max').html("Please Select Only <strong>11 Players</strong>");
			$('#max').delay(3000).fadeOut(1000);	
		}
	});


	$('.batsmen').click(function(){
		var batsmen_inputs = $('.batsmen');
		players_input = $('.CustomInput')
		global_batsmen_count = 0;
		var players_count = 0;
		for(var i = 0; i < batsmen_inputs.length; i++){
			if($(batsmen_inputs[i]).is(':checked')){
 		   	  global_batsmen_count = global_batsmen_count+1;
 		   	  console.log(global_batsmen_count)
 		    }
		}

		for(var i = 0; i < players_input.length; i++){
			if($(players_input[i]).is(':checked')){
 		   	  players_count = players_count+1;
 		   	  console.log(players_count)
 		    }
		}

		if(global_batsmen_count>5){
			$(this).prop( "checked", false );
			$('#sub_max').css('display','block');
			$('#sub_max').html("Please Select Only <strong>5 Batsmen</strong>");
			$('#sub_max').delay(3000).fadeOut(1000);
		}

		if (players_count>11){
			$(this).prop( "checked", false );
			$('#max').css('display','block');
			$('#max').html("Please Select Only <strong>11 Players</strong>");
			$('#max').delay(3000).fadeOut(1000);	
		}
	});

$('.allrounders').click(function(){
		var allrounder_inputs = $('.allrounders');
		players_input = $('.CustomInput')
		global_allrounder_count = 0;
		var players_count = 0;
		for(var i = 0; i < allrounder_inputs.length; i++){
			if($(allrounder_inputs[i]).is(':checked')){
 		   	  global_allrounder_count = global_allrounder_count+1;
 		    }
		}
		for(var i = 0; i < players_input.length; i++){
			if($(players_input[i]).is(':checked')){
 		   	  players_count = players_count+1;
 		    }
		}
		if(global_allrounder_count>3){
			$(this).prop( "checked", false );
			$('#sub_max').css('display','block');
			$('#sub_max').html("Please Select Only <strong>3 Allrounders</strong>");
			$('#sub_max').delay(3000).fadeOut(1000);
		}

		if (players_count>11){
			$(this).prop( "checked", false );
			$('#max').css('display','block');
			$('#max').html("Please Select Only <strong>11 Players</strong>");
			$('#max').delay(3000).fadeOut(1000);	
		}
	});

$('.bowlers').click(function(){
		var bowler_inputs = $('.bowlers');
		players_input = $('.CustomInput')
		global_bowler_count = 0;
		var players_count = 0;
		for(var i = 0; i < bowler_inputs.length; i++){
			if($(bowler_inputs[i]).is(':checked')){
 		   	  global_bowler_count = global_bowler_count+1;
 		    }
		}
		for(var i = 0; i < players_input.length; i++){
			if($(players_input[i]).is(':checked')){
 		   	  players_count = players_count+1;
 		    }
		}
		if(global_bowler_count>5){
			$(this).prop( "checked", false );
			$('#sub_max').css('display','block');
			$('#sub_max').html("Please Select Only <strong>5 Bowlers</strong>");
			$('#sub_max').delay(3000).fadeOut(1000);
		}

		if (players_count>11){
			$(this).prop( "checked", false );
			$('#max').css('display','block');
			$('#max').html("Please Select Only <strong>11 Players</strong>");
			$('#max').delay(3000).fadeOut(1000);	
		}
	});
	</script>

{% endblock %}












<!--
<div class="container">
        	<form method="POST">
                {% csrf_token %}
                <h3>Select ur Keeper</h3>
                {{keeper_form.as_p}}
                <h3>Select ur Batsmen</h3>
                {{batsmen_form.as_p}}
                <h3>Select ur allrounders</h3>
                {{allrounderss_form.as_p}}
                <h3>Select ur Bowlers</h3>
                {{bowlers_form.as_p}}
      			<div class="ButtonContainer">
	                  <input class="btn btn-success btn-lg" type="submit" name="submit" value="Create Team">
	            </div>
	            {{ keeper_form.non_field_errors }}
	            {{ keeper_form.source.errors }}
	            {{ keeper_form.source }}
	            {{ keeper_form.Dinesh_Ramdin.label_tag }}
	            <div class="input_field"> 
	              {% render_field keeper_form.Dinesh_Ramdin %}
	            </div>
	            {{ keeper_form.Dinesh_Ramdin.errors }}

	            {{ keeper_form.MS_Dhoni.label_tag }}
	            <div class="input_field">   
	              {% render_field keeper_form.MS_Dhoni %}
	            </div>
	            {{ keeper_form.MS_Dhoni.errors }}

	            {{ keeper_form.Dinesh_Kartik.label_tag }}
	            <div class="input_field"> 
	              {% render_field keeper_form.Dinesh_Kartik %}
	            </div>
	            {{ keeper_form.Dinesh_Kartik.errors }}
	            <div class="ButtonContainer">
	              <input class="btn btn-success btn-lg" type="submit" name="submit" id="signup" value="Login">
	            </div>
            </form>

        </div>