{% extends "cricket_center_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_agents %}
{% block title %}Cricket Center | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% block other_page_content %}
  <div class="MainBackground">
    <div class="color-overlay"></div>
  </div>  
  <div class="MatchArea">   
    {% for match in match_obj %}
      <div class="MatchInfoCard">
        <div class="MatchInfo">
          {% with "images/"|add:match.team_one_image as image_static %}
            <img src="{% static image_static %}" alt="KentLogo" class="TeamFirst" class="img-responsive"/>
          {% endwith %}
          {% with "images/"|add:match.team_two_image as image_static %}
            <img src="{% static image_static %}" alt="KentLogo" class="TeamSecond" class="img-responsive"/>
          {% endwith %}
          <h1 class="vs">VS</h1>
          <div class="MatchBetween">
            <h4 class="MatchHeader">{{match.team_one}} vs {{match.team_two}}</h4>
            <h6>{{match.tournament_name}}</h6>  
          </div>
        </div>
        <div class="ActionInfo">
          <button type="button" class="btn btn-success btn-lg StartsIn" id="timerOne"></b></button>
          <div class="SeparatorLine"></div>
          <a href="{% url 'cricket_center:match' slug='FirstMatchOfFantasyChamps' %}"><button type="button" class="btn btn-success btn-lg PlayNow">Play Now</b></button></a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
    {# <div class="MatchInfoCard">
      <div class="MatchInfo">
        <img src="{% static "images/kent.png" %}" alt="KentLogo" class="TeamFirst" class="img-responsive">
        <img src="{% static "images/hamp.png" %}" alt="HampLogo" class="TeamSecond" class="img-responsive">
        <h1 class="vs">VS</h1>
        <div class="MatchBetween">
          <h4  class="MatchHeader">Kent vs Hamp</h4>
          <h6>(Blast T20)</h6>  
        </div>
        
      </div>
      <div class="ActionInfo">
        <button type="button" class="btn btn-success btn-lg StartsIn" id="timerTwo"></b></button>
        <div class="SeparatorLine"></div>
        <button type="button" class="btn btn-success btn-lg PlayNow">Play Now</b></button>
      </div>
    </div>
    <div class="MatchInfoCard">
      <div class="MatchInfo">
        <img src="{% static "images/kent.png" %}" alt="KentLogo" class="TeamFirst" class="img-responsive">
        <img src="{% static "images/hamp.png" %}" alt="HampLogo" class="TeamSecond" class="img-responsive">
        <h1 class="vs">VS</h1>
        <div class="MatchBetween">
          <h4  class="MatchHeader">Kent vs Hamp</h4>
          <h6>(Blast T20)</h6>  
        </div>
        
      </div>
      <div class="ActionInfo">
        <button type="button" class="btn btn-success btn-lg StartsIn" id="timerThree"></b></button>
        <div class="SeparatorLine"></div>
        <button type="button" class="btn btn-success btn-lg PlayNow">Play Now</b></button>
      </div>
    </div>
    <div class="MatchInfoCard">
      <div class="MatchInfo">
        <img src="{% static "images/kent.png" %}" alt="KentLogo" class="TeamFirst" class="img-responsive">
        <img src="{% static "images/hamp.png" %}" alt="HampLogo" class="TeamSecond" class="img-responsive">
        <h1 class="vs">VS</h1>
        <div class="MatchBetween">
          <h4 class="MatchHeader">Kent vs Hamp</h4>
          <h6>(Blast T20)</h6>  
        </div>
        
      </div>
      <div class="ActionInfo">
        <button type="button" class="btn btn-success btn-lg StartsIn" id="timerFour"></b></button>
        <div class="SeparatorLine"></div>
        <button type="button" class="btn btn-success btn-lg PlayNow">Play Now</b></button>
      </div>
    </div>
    <div class="MatchInfoCard">
      <div class="MatchInfo">
        <img src="{% static "images/kent.png" %}" alt="KentLogo" class="TeamFirst" class="img-responsive">
        <img src="{% static "images/hamp.png" %}" alt="HampLogo" class="TeamSecond" class="img-responsive">
        <h1 class="vs">VS</h1>
        <div class="MatchBetween">
          <h4 class="MatchHeader">India vs Nzw</h4>
          <h6>(Blast T20)</h6>  
        </div>
      </div>
      <div class="ActionInfo">
        <button type="button" class="btn btn-success btn-lg StartsIn" id="timerSix"></button>
        <div class="SeparatorLine"></div>
        <button type="button" class="btn btn-success btn-lg PlayNow">Play Now</b></button>
      </div>
    </div>
    <div class="MatchInfoCard">
      <div class="MatchInfo">
        <img src="{% static "images/kent.png" %}" alt="KentLogo" class="TeamFirst" class="img-responsive">
        <img src="{% static "images/hamp.png" %}" alt="HampLogo" class="TeamSecond" class="img-responsive">
        <h1 class="vs">VS</h1>
        <div class="MatchBetween">
          <h4 class="MatchHeader">Kent vs Hamp</h4>
          <h6>(Blast T20)</h6>  
        </div>
        
      </div>
      <div class="ActionInfo">
        <button type="button" class="btn btn-success btn-lg StartsIn" id="timerFive"></button>
        <div class="SeparatorLine"></div>
        <button type="button" class="btn btn-success btn-lg PlayNow">Play Now</b></button>
      </div>
    </div>
  </div> #}



<!--<div class="outer">
    <div class="middle">
      <div class="inner row">
        <h3 style="text-align:center;">India VS Australia</h3><hr>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/india_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-left">
        </div>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/aus_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-right">
        </div>&nbsp;
        <div class="matchInfo" data-aos="fade-up">
          <img src="{% static "images/newhex.png" %}" class="img-responsive center-block" class="matchInfoContainer">
          <h4 class="venue">Venue : At Firozsah Kotla Ground</h4>
          <h4 class="matchNo">Match : Ind vs Aus, First ODI</h4>
          <h4 class="playerCounter">Starting In : 1235</h4>
          <button type="button" class="btn btn-success btn-lg playNowButton" id="signup">Play Now</b></button>
        </div>
        
      </div>
    </div>
  </div>
  <div class="outer">
    <div class="middle">
      <div class="inner row">
        <h3 style="text-align:center;">India VS Australia</h3><hr>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/india_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-left">
        </div>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/aus_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-right">
        </div>&nbsp;
        <div class="matchInfo" data-aos="fade-up">
          <img src="{% static "images/newhex.png" %}" class="img-responsive center-block" class="matchInfoContainer">
          <h4 class="venue">Venue : At Firozsah Kotla Ground</h4>
          <h4 class="matchNo">Match : Ind vs Aus, First ODI</h4>
          <h4 class="playerCounter">Starting In : 1235</h4>
          <button type="button" class="btn btn-success btn-lg playNowButton" id="signup">Play Now</b></button>
        </div>
        
      </div>
    </div>
  </div>
  <div class="outer">
    <div class="middle">
      <div class="inner row">
        <h3 style="text-align:center;">India VS Australia</h3><hr>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/india_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-left">
        </div>
        <div class="conatiner col-sm-6">
          <img src="{% static "images/aus_flag.jpeg" %}" class="img-responsive center-block" data-aos="fade-right">
        </div>&nbsp;
        <div class="matchInfo" data-aos="fade-up">
          <img src="{% static "images/newhex.png" %}" class="img-responsive center-block" class="matchInfoContainer">
          <h4 class="venue">Venue : At Firozsah Kotla Ground</h4>
          <h4 class="matchNo">Match : Ind vs Aus, First ODI</h4>
          <h4 class="playerCounter">Starting In : 1235</h4>
          <button type="button" class="btn btn-success btn-lg playNowButton" id="signup">Play Now</b></button>
        </div>     
      </div>
    </div>
  </div>-->


