{% extends "cricket_center_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_agents %}
{% block title %}Cricket Center | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% block other_page_content %}

	<div class="MainBackground">
	  <div class="color-overlay"></div>
	</div>  
	<div class="MatchArea">
	  <div class="MatchCard">
	  	<center>
	  		<h4 style="position:relative;top:2px;">Kent vs Hamp</h4>
	  		<h6 style="position:relative;top:-9px;">Available Leagues</h6>
	  	</center>
	  </div>
	  <h3><span><img src="{% static "images/MultipleChampion.png" %}" alt="Image Not Found" class="LeagueImage"></span>&nbsp; Grand and Great Winning</h3>
	  <div class="LeagueArea row">
	  	<div class="row col-xs-6">
	  	  <div class="col-xs-12 LeagueCard">
	  	  	<center><h5 class="LeagueName">40% Winners</h5></center>
	  	  	<hr>
	  	  	<div class="LeagueInfoContainer">
	  	  	  <h6>Total Winnings : <span style="float:right;">1,000₹</span></h6>
		  	  <h6>Entry Fees : <span style="float:right;">13₹</span></h6>
	  	 	  <div class="progress">
			    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
			  </div>
			  <h6>Joined<span style="float:right;">40/100</span></h6>
		  	  <hr>
		  	  <center><a href="#"><button type="button" class="btn btn-success btn-lg JoinNow">Join Now</b></button></a></center>
	  	  	</div>
	  	  </div>
	 	</div>
	  	<div class="row col-xs-6">
	  	  <div class="col-xs-12 LeagueCard MarginTop">
	  	  	<center><h5 class="LeagueName">50% Winners</h5></center>
	  	  	<hr>
	  	  	<div class="LeagueInfoContainer">
	  	  	  <h6>Total Winnings : <span style="float:right;">1,000₹</span></h6>
		  	  <h6>Entry Fees : <span style="float:right;">13₹</span></h6>
	  	 	  <div class="progress">
			    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
			  </div>
			  <h6>Joined<span style="float:right;">40/100</span></h6>
		  	  <hr>
		  	  <center><a href="#"><button type="button" class="btn btn-success btn-lg JoinNow">Join Now</b></button></a></center>
	  	  	</div>
	  	  </div>
	  	</div>
	  	<div class="row col-xs-6">
	  	  <div class="col-xs-12 LeagueCard">
	  	  	<center><h5 class="LeagueName">60% Winners</h5></center>
	  	  	<hr>
	  	  	<div class="LeagueInfoContainer">
	  	  	  <h6>Total Winnings : <span style="float:right;">1,000₹</span></h6>
		  	  <h6>Entry Fees : <span style="float:right;">13₹</span></h6>
	  	 	  <div class="progress">
			    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
			  </div>
			  <h6>Joined<span style="float:right;">40/100</span></h6>
		  	  <hr>
		  	  <center><a href="#"><button type="button" class="btn btn-success btn-lg JoinNow">Join Now</b></button></a></center>
	  	  	</div>
	  	  </div>
	  	</div>
	  	<div class="row col-xs-6">
	  	  <div class="col-xs-12 LeagueCard MarginTop">
	  	  	<center><h5 class="LeagueName">70% Winners</h5></center>
	  	  	<hr>
	  	  	<div class="LeagueInfoContainer">
	  	  	  <h6>Total Winnings : <span style="float:right;">1,000₹</span></h6>
		  	  <h6>Entry Fees : <span style="float:right;">13₹</span></h6>
	  	 	  <div class="progress">
			    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
			  </div>
			  <h6>Joined<span style="float:right;">40/100</span></h6>
		  	  <hr>
		  	  <center><a href="#"><button type="button" class="btn btn-success btn-lg JoinNow">Join Now</b></button></a></center>
	  	  	</div>
	  	  </div>
	  	</div>
	  </div>
	  <h3><span><img src="{% static "images/MultipleChampion.png" %}" alt="Image Not Found" class="LeagueImage"></span>&nbsp; Grand and Great Winning</h3>
	  <div class="LeagueArea row">
	  	<div class="row col-xs-6">
	  	  <div class="col-xs-12 LeagueCard">
	  	  	<center><h5 class="LeagueName">40% Winners</h5></center>
	  	  	<hr>
	  	  	<div class="LeagueInfoContainer">
	  	  	  <h6>Total Winnings : <span style="float:right;">1,000₹</span></h6>
		  	  <h6>Entry Fees : <span style="float:right;">13₹</span></h6>
	  	 	  <div class="progress">
			    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
			  </div>
			  <h6>Joined<span style="float:right;">40/100</span></h6>
		  	  <hr>
		  	  <center><a href="#"><button type="button" class="btn btn-success btn-lg JoinNow">Join Now</b></button></a></center>
	  	  	</div>
	  	  </div>
	  	</div>
	  	<div class="row col-xs-6">
	  	  <div class="col-xs-12 LeagueCard MarginTop">
	  	  	<center><h5 class="LeagueName">40% Winners</h5></center>
	  	  	<hr>
	  	  	<div class="LeagueInfoContainer">
	  	  	  <h6>Total Winnings : <span style="float:right;">1,000₹</span></h6>
		  	  <h6>Entry Fees : <span style="float:right;">13₹</span></h6>
	  	 	  <div class="progress">
			    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
			  </div>
			  <h6>Joined<span style="float:right;">40/100</span></h6>
		  	  <hr>
		  	  <center><a href="#"><button type="button" class="btn btn-success btn-lg JoinNow">Join Now</b></button></a></center>
	  	  	</div>
	  	  </div>
	  	</div>
	  	<div class="row col-xs-6">
	  	  <div class="col-xs-12 LeagueCard">
	  	  	<center><h5 class="LeagueName">40% Winners</h5></center>
	  	  	<hr>
	  	  	<div class="LeagueInfoContainer">
	  	  	  <h6>Total Winnings : <span style="float:right;">1,000₹</span></h6>
		  	  <h6>Entry Fees : <span style="float:right;">13₹</span></h6>
	  	 	  <div class="progress">
			    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
			  </div>
			  <h6>Joined<span style="float:right;">40/100</span></h6>
		  	  <hr>
		  	  <center><a href="#"><button type="button" class="btn btn-success btn-lg JoinNow">Join Now</b></button></a></center>
	  	  	</div>
	  	  </div>
	  	</div> 
	  	<div class="row col-xs-6">
	  	  <div class="col-xs-12 LeagueCard MarginTop">
	  	  	<center><h5 class="LeagueName">40% Winners</h5></center>
	  	  	<hr>
	  	  	<div class="LeagueInfoContainer">
	  	  	  <h6>Total Winnings : <span style="float:right;">1,000₹</span></h6>
		  	  <h6>Entry Fees : <span style="float:right;">13₹</span></h6>
	  	 	  <div class="progress">
			    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
			  </div>
			  <h6>Joined<span style="float:right;">40/100</span></h6>
		  	  <hr>
		  	  <center><a href="#"><button type="button" class="btn btn-success btn-lg JoinNow">Join Now</b></button></a></center>
	  	  	</div>
	  	  </div>
	  	</div>
	  </div>

	 </div> 
{% endblock %}















