{% extends "cricket_center_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load user_agents %}
{% block title %}Cricket Center | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}

{% block other_page_content %}

	<div class="MainBackground">
	  <div class="color-overlay"></div>
	</div>  
	<div class="MatchArea">   
	  <h3><span><img src="{% static "images/MultipleChampion.png" %}" alt="Image Not Found" class="LeagueImage"></span>&nbsp Grand and Great Winning</h3>
	  <div class="row">
	  	<div class="col-sm-6 LeagueCard">
	  		<p>dgffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffssssssssssssssssssss</p>
	    </div>
	  </div> 
	</div>
{% endblock %}















