<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>{% block title %}FantasyChamps{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
      <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% endblock stylesheets %}
</head>
  <body>
    <div class="header-blue">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">FantasyChamps</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              </div>
              <div class="collapse navbar-collapse" id="navcol">
                <ul class="nav navbar-nav navbar-right">
                  <li class="btn btn-default leftButtons"><span><a href="#first" class="innerA">Home</a></span></li>
                  <li class="btn btn-default leftButtons"><span><a href="#second" class="innerA">How to Play?</a></span></li>
                  <li class="btn btn-default leftButtons"><span><a href="#third" class="innerA">Features</a></span></li>
                  <li class="btn btn-default leftButtons"><span><a href="#fourth" class="innerA">FAQ</a></span></li>
                </ul>
              </div>
            </div>
        </nav>
    </div>


    {% block other_page_content %}
    {% endblock%}


    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"  class="img-responsive">
                    <img src="{% static "images/footerlogo.png" %}" alt="">
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Copyright © 2018 FantasyChamps Pvt. Ltd.</p>
        </div>
    </footer>
    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="{% static 'js/main.js' %}"></script>
    {% endblock scripts %}
  </body>
</html>
