{% if registered %}
              <div class="alert alert-danger" role="alert">
                <h3>You Account hase been created please Login.</h3>
              </div>
            {% else %}
              <form>
                {% csrf_token %}
                {% user_login_form %}
              </form>
            {% endif %}













            






              <form method="post" class="row">
                {% csrf_token %}
                <!-- ****UserForm**** -->

                <div class="col-md-6 col-sm-6" class="inner_form_wrapper">
                  {{ user_form.non_field_errors }}
                  {{ user_form.source.errors }}
                  {{ user_form.source }}


                  {{ user_form.username.label_tag }}
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user" style="color:black;"></i></span>         
                    {% render_field user_form.username class="form-control" %}
                  </div>
                  {{ user_form.username.errors }}


                  {{ user_form.email.label_tag }}
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope" style="color:black;"></i></span> 
                    {% render_field user_form.email class="form-control" %}
                  </div>
                  {{ user_form.email.errors }}


                  {{ user_form.password.label_tag }}
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-key" style="color:black;"></i></span>         
                    {% render_field user_form.password class="form-control" %}
                  </div>
                  {{ user_form.password.errors }}
                </div>
                <!-- ****ProfileForm -->


                <div class="col-md-6 col-sm-6" class="inner_form_wrapper">
                  {{ profile_form.non_field_errors }}
                  {{ profile_form.source.errors }}
                  {{ profile_form.source }}


                  {{ profile_form.phone_number.label_tag }}
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-phone" style="color:black;"></i></span>         
                    {% render_field profile_form.phone_number class="form-control" %}
                  </div>
                  {{ profile_form.phone_number.errors }}


                  {{ profile_form.date_of_birth.label_tag }}
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-calendar" style="color:black;"></i></span>
                    {% render_field profile_form.date_of_birth class="form-control" %}
                  </div>
                  {{ profile_form.date_of_birth.errors }}


                  {{ profile_form.state.label_tag }}
                  {% render_field profile_form.state class="form-control" %}
                  {{ profile_form.state.errors }}

                </div>

                <input type="submit" value="Register" class="btn btn-success">
              </form>










def IndexView(request):
    registered = False

    if request.method == 'POST':
        if request.POST.get('submit') == 'Register':
            user_form = UserForm(data=request.POST)
            profile_form = ProfileForm(data=request.POST)
            if user_form.is_valid() and profile_form.is_valid():
                user = user_form.save(commit=False)
                user.set_password(user.password)
                user.save()
                profile = profile_form.save(commit=False)
                profile.user = user
                profile.save()
                registered = True

            else:
                print(user_form.errors, profile_form.errors)
        elif request.POST.get('submit') == 'Login':
            LogInUsername = request.POST.get('LogInUsername')
            LogInPassword = request.POST.get('LogInPassword')
            user = authenticate(username=LogInUsername, password=LogInPassword)
            if user:
                # Check it the account is active
                if user.is_active:
                    # Log the user in.
                    login(request, user)
                    # user.profile.balance = user.profile.balance+10
                    # print(user.profile.balance)
                    print(user)
                    user.save()

                    # print(request.user.profile.balance)
                    # print(request.user.profile.balance+10)
                    # request.user.profile.save()
                    # Send the user back to some page.
                    # In this case their homepage.
                    return HttpResponseRedirect(reverse('IndexView'))
                else:
                    # If account is not active:
                    return HttpResponse("Your account is not active.")

            else:
                print("Someone tried to login and failed.")
                print("They used username: {} and password: {}".format(LogInUsername, LogInPassword))
                return HttpResponse("Invalid login details supplied.")
    else:
        user_form = UserForm()
        profile_form = ProfileForm()
    return render(request, 'index.html',
                          {
                            'user_form': user_form,
                            'profile_form': profile_form,
                            'registered': registered
                          })





















































































































<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Please Login</h1>

        <form method="post">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">

          <label for="password"></label>
          <input type="password" name="password">

          <input type="submit" name="" value="Login">

        </form>

    </div>
  </div>
</body>
</html>










<div class="col_half last">
            <form method="POST">
               <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="email" name="email" placeholder="Email" required />
              </div>
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
                <input type="password" name="phone" placeholder="Password" required />
              </div>
              <button class="btn btn-success btn-lg" type="submit" id="signup">Login</button>
              <div class="row clearfix bottom_row">
                <div class="col_half forgot_pw"><a href="#">Forgot Password?</a></div>
              </div>
           </form>
          </div>








<!--




{% extends "base.html" %}
{% load staticfiles %}
{% load user_agents %}
{% block title %}Home | {{block.super}}{% endblock title %}
{% block stylesheets %}
  {{block.super}}
{% endblock stylesheets %}
{% block other_page_content %}
<div id="first">
  <div class="trans row">
    <p>&nbsp;</p><p>&nbsp;</p>
    <div class="col-md-7">
      <div class="logo">
        <img src="{% static "images/testlogo.png" %}" alt="Sorry! LOGO Not Found" class="logo"  class="img-responsive">
        {# <h4 style="text-align:right; margin-top:-30px;">LET'S BE THE <b>CHAMPS</b> TOGETHER.</h4> #}
        <h1>PLAY FANTASY SPORTS & </h1>
        <h1>WIN DAILY <b>CASH PRIZES!</b></h1>
        <button type="button" class="btn btn-success btn-lg" id="signup">Signup to Get Instant <b>₹25 Bonus</b></button>
        <h4>OR</h4>
        <button type="button" class="btn btn-success btn-lg" id="signup">Login Here</button>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2>Login to FantasyChamp</h2>
                        <form method="POST">
              {% csrf_token %}
              {{user_form.as_p}}
              {{profile_form.as_p}}
              <input type="submit" name="" value="Register">
            </form>
          </div>
          <div class="col_half last">
            <form method="POST">
              {% csrf_token %}
              {{user_form.as_p}}
              {{profile_form.as_p}}
              <input type="submit" name="" value="Register">
               <!--<div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="email" name="email" placeholder="Email" required />
              </div>
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
                <input type="password" name="phone" placeholder="Password" required />
              </div>
              <button class="btn btn-success btn-lg" type="submit" id="signup">Login</button>
              <div class="row clearfix bottom_row">
                <div class="col_half forgot_pw"><a href="#">Forgot Password?</a></div>
              </div>-->           
<!--            </form>
          </div>
          <div class="row clearfix">
            <div class="col_half">
              <div class="social_btn fb"><a href="#"><span><i class="fa fa-facebook" aria-hidden="true"></i></span>Sign in with Facebook</a></div>
              <div class="social_btn tw"><a href="#"><span><i class="fa fa-twitter" aria-hidden="true"></i></span>Sign in with Twitter</a></div>
              <div class="social_btn gplus"><a href="#"><span><i class="fa fa-google-plus" aria-hidden="true"></i></span>Sign in with Google+</a></div>
              <div class="row clearfix create_account">
                <div>Don't have any Account? Create one Here <a href="#">Sign Up</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<div id="second">
  <div class="transnew row">
    <p>&nbsp;</p><p>&nbsp;</p>
    <div class="col-sm-12"><h1>How to Play on FantasyChamp?</h1><br><br><br></div>
    <div class="col-sm-4 stepContainer" data-aos="fade-up" id="setp1">
      <center><h2 class="countSteps">1</h2>
      <div class="qLoader2 manualCount"></div></center>
      <div><br>
        <img src="{% static "images/testStep.jpg" %}" alt="Sorry!" class="logo stepsImage" data-aos="zoom-in">
        <h2>Select A League</h2>
        <h4>Select a League of your Choice from Available Leaguages</h4>
      </div>
    </div><br><br><br>
    <div class="col-sm-4 stepContainer" data-aos="fade-up" id="setp2">
      <center><h2 class="countSteps">2</h2>
      <div class="qLoader2 manualCount"></div></center>
      <div><br>
        <img src="{% static "images/testStep.jpg" %}" alt="Sorry!" class="logo stepsImage" data-aos="zoom-in">
        <h2>Choose 11 Players</h2>
        <h4>Select your best 11 players from both the teams. And Choose One Captain and One Vice-Captain</h4>
      </div>
    </div><br><br><br>
    <div class="col-sm-4" data-aos="fade-up" id="setp3">
      <center><h2 class="countSteps">3</h2>
      <div class="qLoader2 manualCount"></div></center>
      <div><br>
        <img src="{% static "images/testStep.jpg" %}" alt="Sorry!" class="logo stepsImage" data-aos="zoom-in">
        <h2>Win Daily Cash Prizes</h2>
        <h4>Win Cash Prizes according to the rank you got in Leagues</h4>
      </div>
    </div>
  </div>
</div>
<div id="third">
  <div class="trans row">

    {% if request|is_mobile %}
      <div class="col-sm-6 col-xs-12"><br>
        <div class="" style="margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>Signup Bonus<h3>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12"><br>
        <div class="" style="margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>Signup Bonus<h3>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12"><br>
        <div class="" style="margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>Signup Bonus<h3>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12"><br>
        <div class="" style="margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>Signup Bonus<h3>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12"><br>
        <div class="" style="margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>Signup Bonus<h3>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12"><br>
        <div class="" style="margin-top:20%;">
          <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
          <h3>Signup Bonus<h3>
        </div>
      </div>  
    
    {% else %}
      <div class="col-sm-4" style=":100vh;"><br>
        <div class="col-sm-12" data-aos="fade-up-left" class="featuresConatiner">
          <div class="" style="margin-top:20%;">
            <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
            <h3>Signup Bonus<h3>
          </div>
        </div>
        <div class="col-sm-12" data-aos="fade-left" class="featuresConatiner">
          <div class="" style=";margin-top:20%;">
            <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
            <h3>Variety of Leages<h3>
          </div>
        </div>
        <div class="col-sm-12" data-aos="fade-down-left" class="featuresConatiner">
          <div class="" style="margin-top:20%;">
            <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
            <h3>Win Real Cash Prizes<h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="{% static "images/testlogo.png" %}" alt="Sorry!" class="logo" id="featuresLogo" data-aos="zoom-in">
      </div>
      <div class="col-sm-4">
        <div class="col-sm-12" data-aos="fade-up-right" class="featuresConatiner">
          <div class="" style="margin-top:20%;">
            <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
            <h3>24x7 Support<h3>
          </div>
        </div>
        <div class="col-sm-12" data-aos="fade-right" class="featuresConatiner">
          <div class="" style=";margin-top:20%;">
            <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
            <h3>High Rewards<h3>
          </div>
        </div>
        <div class="col-sm-12" data-aos="fade-down-right" class="featuresConatiner">
          <div class="" style="margin-top:20%;">
            <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
            <h3>No Need of PAN Card Details<h3>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
<div id="fourth">
  <div class="trans row">
    <p>&nbsp;</p><p>&nbsp;</p>
    <div class="col-sm-12"><h1>FAQs</h1><br><br><br></div>
    <div class="col-sm-12 faq">
      <div class="col-md-6">
        <div class="qa-section">
          <b><p class="question">Q. What is FantasyChamps?</p></b>
          <p class="answer">Ans. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidastat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div><br><br>
        <div class="qa-section">
          <b><p class="question">Q. Ok, but what is Fantasy Cricket?</p></b>
          <p class="answer">Ans. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="qa-section">
          <b><p class="question">Q. What is point System?</p></b>
          <p class="answer">Ans. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div><br><br>
        <div class="qa-section">
          <b><p class="question">Q. What about Competetion!</p></b>
          <p class="answer">Ans. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock%}
  
{#  #}