/*****Match Area*****/
.MatchArea{
  width: 580px;
  position: relative;
  height: 100vh;
  height: -moz-calc(100vh - 50px);
  height: -webkit-calc(100vh - 50px);
  height: calc(100vh - 50px);
  overflow-y: auto;
  left: 0%;
  background-color: #ccc;
  z-index: 999;
  background-size: cover;
}

.MainBackground{
  background: url('../../images/backoneOri.jpg') no-repeat center / cover;
  width: 100vw;
  height: 100%;
  position: fixed; 
  margin: 0;
  top: 0%;
  content: "";
  overflow: hidden;
}
.color-overlay {
  width: 100%;
  height: 100%;
  background: rgba(2,112,200,0.7);
  opacity: .6;
  position: absolute;
}

/*****Custyom Header SIze*****/
body
{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0px;
}

.right{
  float:right;
}

.left{
  float: left;
}

/*****Custom Header*****/
* {
  box-sizing: border-box;
}
.nav {
  height: 50px;
  width: 580px;
  background-color: #4d4d4d;
  position: relative;
  z-index: 1000;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:1920px) {
  
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    padding: 13px;
    border-radius: 6px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    margin-top:-2px;
    margin-left: -2px;
    width: 19px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*****Match Area Content*****/
.MatchInfoCard{
  position: relative;
  margin-top: 1.3vw;
  top:-1%;
  left: 2%;
  width:96%;
  height:100px;
  background-color: #8AD3FF;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 7px;
  -moz-box-shadow: 0 1px 7px;
  box-shadow: 0 1px 7px;
}

.MatchInfo{
  position: relative;
  height:60%;
  width:90%;
  left:5%;
}

.ActionInfo{
  position: relative;
  height:40%;
  top: -10%;
  width:90%;
  left: 5%;
}

.MatchHeader{
  font-size: 16px;
}

.StartsIn{
  background-color: #ff4f8b  !important;
  border-color: #ff4f8b  !important;
  border-radius: 5px;
  font-size: 15px;
  padding: 6px 12px;
  color:#fff;
  position: absolute;
  top: 30%;
  height: 35px;
  right: 50%;
  transform: translateX(-10%);
}

.SeparatorLine{
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top:20%;
  width:2px;
  border: 1px solid black;
}

.PlayNow
{
  background-color: #ff4f8b  !important;
  border-color: #ff4f8b  !important;
  border-radius: 5px;
  font-size: 15px;
  padding: 6px 12px;
  color:#fff;
  position: absolute;
  top: 30%;
  height: 35px;
  left: 50%;
  transform: translateX(10%);
}

.TeamFirst{
  width: 70px;
  height: 95%;
  position: relative;
  top: 5%;
  left: 0px;
}

.TeamSecond{
  width: 70px;
  height: 95%;
  position: absolute;
  right: -1px; 
  top: 5%;
}

.vs{
  opacity: 0.1;
  font-size: 50px;
  color: #6A6A6A;
  text-align: center;
  position: relative;
  top: 0%%;
  transform: translateY(-110%);
}

.MatchBetween{
  width: 100%;
}


.MatchBetween h4{
  position: absolute;
  left: 50%;
  top:5%;
  transform: translateX(-50%);
}

.MatchBetween h6{
  position: absolute;
  left: 50%;
  top:35%;
  transform: translateX(-50%);
}

/*****On Smaller Devices*****/
@media (max-width: 580px) {
  .nav{
    width: 100%;
  }
  .MatchArea{
    width:100%;
  }
  .MatchBetween h4{
    font-size: 15px; 
  }
  .MatchBetween h6{
    font-size: 10px;
  }
  .MatchArea h3{
    font-size: 20px;
  }
  .MatchInfoCard{
    position: relative;
    top:2px;
  }
  .LeagueCard h4{
    font-size: 14px;
  }
}

/*****Match League*****/
.LeagueImage{
  margin-left:10px; 
  width:40px; 
  border-radius:50%;
}

.LeagueArea{
  width:100%;
}

.LeagueCard{
  top:-1%;
  height:200px;
  background-color: #8AD3FF;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 7px;
  -moz-box-shadow: 0 1px 7px;
  box-shadow: 0 1px 7px;
  margin-bottom: 15px;
}

.JoinNow
{
  position: relative;
  background-color: #ff4f8b  !important;
  border-color: #ff4f8b  !important;
  border-radius: 5px;
  font-size: 15px;
  padding: 6px 12px;
  color:#fff;
  width: 100%;
  top:-10px;
}

.LeagueName{
  position: relative;
  top:5px;;
}

.LeagueCard hr{
  position: relative;
  top:-5px;
}

.LeagueInfoContainer{
  position: relative;
  top:-15px;
}

.MatchCard{
  top:10px;
  margin-bottom: 20px;
  position: relative;  
  height:50px;
  width:96%;
  left:2%;
  background-color: #8AD3FF;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 7px;
  -moz-box-shadow: 0 1px 7px;
  box-shadow: 0 1px 7px;
}

/*****Test for form*****/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.main_upper {
    display: block;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/*.field_area{
  position: relative;
  background-color: green;
  margin-bottom: 5px;
  width: 90%;
}

/*.custom_label{
  color:red;
}

.custom_check{
  position: absolute;
  top: 50%; 
  left: 90%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}*/








/***Custom CSS for checkboxes***/
.custom_field{
  position: absolute;
  top: 4px;
  font-size: 16px;
  color: white;
}


.tgl {
  display: none;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 100%;
  height: 2em;
  position: relative;
  cursor: pointer;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
  display: inline-block;
  transition: all .2s ease;
  width: 100%;
  text-align: right;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -5%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #86d993;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: 100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 5%;
}